Install Libraries

In [1]:
%%capture
import os
os.chdir('..')

!pip install -r 'requirements.txt'

1. Import the script

In [2]:
os.chdir('src/')

from PipelineClass import Pipeline

2. Set up test variables

In [3]:
import pandas as pd

input_df = pd.DataFrame(columns = ['A','B','C','D'],
                        data = [['banana',2,3,'fruit'],
                                [5,6,7,'veggie']])

In [10]:
input_df

        A  B  C       D
0  banana  2  3   fruit
1       5  6  7  veggie

3. Execute script functions

In [4]:
pipeline = Pipeline(input_df)

In [5]:
pipeline.listFunctions()

Functions available in the class object:
- DropColumns
- RecodeColumnNames
- RecodeColumnTypes
- RecodeColumnValues
- SumColumnValues

In [6]:
pipeline.DropColumns(["C"])
pipeline.RecodeColumnNames({'A':'a','B':'b'})
pipeline.RecodeColumnTypes({'b': 'string', 'D': 'bool'})
pipeline.RecodeColumnValues('a',{5: 'apple'})
pipeline.SumColumnValues(['b','D'],'b+D')

In [7]:
print(pipeline)

1. The following columns were dropped:            ['C']
2. The following dictionary was used to recode the names of the columns:            {'A': 'a', 'B': 'b'}
3. The following dictionary was used to recode the dtypes of the columns:            {'b': 'string', 'D': 'bool'}
4. The following dictionary was used to recode the dtypes of the columns:            {'a': 'categorical'}
5. The following dictionary was used to recode the values of column 'a':            {5: 'apple'}
6. The following dictionary was used to recode the dtypes of the columns:            {'b': 'float', 'D': 'float'}
7. The column 'b+D' was created and populated with the row-wise sums of the following columns:            ['b', 'D']

In [8]:
pipeline.data

        a    b    D  b+D
0  banana  2.0  1.0  3.0
1   apple  6.0  1.0  7.0

In [9]:
pipeline.artifacts

{1: {'DropColumns': ['C']},
 2: {'RecodeColumnNames': {'A': 'a', 'B': 'b'}},
 3: {'RecodeColumnTypes': {'b': 'string', 'D': 'bool'}},
 4: {'RecodeColumnTypes': {'a': 'categorical'}},
 5: {'RecodeColumnValues': ('a', {5: 'apple'})},
 6: {'RecodeColumnTypes': {'b': 'float', 'D': 'float'}},
 7: {'SumColumnValues': (['b', 'D'], 'b+D')}}

In [11]:
pipeline2 = Pipeline(input_df)

In [12]:
pipeline2.importArtifacts(pipeline.artifacts)

In [13]:
pipeline2.artifacts

{1: {'DropColumns': ['C']},
 2: {'RecodeColumnNames': {'A': 'a', 'B': 'b'}},
 3: {'RecodeColumnTypes': {'b': 'string', 'D': 'bool'}},
 4: {'RecodeColumnTypes': {'a': 'categorical'}},
 5: {'RecodeColumnTypes': {'a': 'categorical'}},
 6: {'RecodeColumnValues': ('a', {5: 'apple'})},
 7: {'RecodeColumnTypes': {'b': 'float', 'D': 'float'}},
 8: {'RecodeColumnTypes': {'b': 'float', 'D': 'float'}},
 9: {'SumColumnValues': (['b', 'D'], 'b+D')}}

In [14]:
pipeline2.data == pipeline.data

      a     b     D   b+D
0  True  True  True  True
1  True  True  True  True