Install Libraries

In [1]:
%%capture
import os
os.chdir('..')

!pip install -r 'requirements.txt'

1. Import the script

In [2]:
os.chdir('src/')

from PipelineClass import Pipeline

2. Set up test variables

In [3]:
import pandas as pd

input_df = pd.DataFrame(columns = ['A','B','C','D'],
                        data = [['banana',2,3,'fruit'],
                                [5,6,7,'veggie']])

3. Execute script functions

In [4]:
pipeline = Pipeline(input_df)

In [5]:
pipeline.listFunctions()

Functions available in the class object:
- DropColumns
- RecodeColumnNames
- RecodeColumnTypes
- RecodeColumnValues
- SumColumnValues

In [6]:
pipeline.DropColumns(["C"])
pipeline.RecodeColumnNames({'A':'a','B':'b'})
pipeline.RecodeColumnTypes({'b': 'string', 'D': 'bool'})
pipeline.RecodeColumnValues('a',{5: 'apple'})
pipeline.SumColumnValues('b+D')

In [7]:
print(pipeline)

1. The following columns were dropped:            ['C']
2. The following dictionary was used to recode the names of the columns:            {'A': 'a', 'B': 'b'}
3. The following dictionary was used to recode the dtypes of the columns:            {'b': 'string', 'D': 'bool'}
4. The following dictionary was used to recode the dtypes of the columns:            {'a': 'categorical'}
5. The following dictionary was used to recode the values of column 'a':            {5: 'apple'}

In [8]:
pipeline.data

        a  b     D
0  banana  2  True
1   apple  6  True